@tailwind base;
@tailwind components;
@tailwind utilities;

.yellow {
  background: -webkit-linear-gradient(#fcf5cc, #fdbf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellowBackground {
  background: linear-gradient(#fdbf00, #fae37e);
}

.selected {
  background-color: #000000;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

//background-color: #fc1764;
